name: Spell Check
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check spelling
        uses: crate-ci/typos@master