name: Spell Check
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Check spelling
        uses: crate-ci/typos@30eea72e385d435c00a24eeba0d96f87048f42ec # master-2026-02-22