name: Vale Documentation Style
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  vale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: errata-ai/vale-action@dcded780f1ff68e2558e802a165a484a4a3e2fb8 # reviewdog-2026-02-22
        with:
          files: docs
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}